@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .container{
    @apply px-[16px] sm:px-[60px] pt-4 pb-11 max-w-[1320px] mx-auto;
  }
  .homeBtn{
    @apply text-blue-800 w-[200px] text-center p-4 border-blue-900 border-solid border-2 rounded hover:bg-slate-500 hover:text-white duration-300
  }
  .dropdown{
    width: 400px;
    margin: 100px auto;
    position: relative;
    user-select: none;
    box-shadow: 0px 2px 4px 0px #0F1C330F;
  }
  .dropdown .dropdown-btn{
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    left:0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: 500;
    color: #333;
    width: 100%;
  }
  .dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dropdown .dropdown-content .dropdown-item:hover{
    background-color: #f4f4f4;
  }
}
